<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>web_bgColor</key>
	<string>111112</string>
	<key>web_navbarItemTextColor</key>
	<string>969696</string>
	<key>web_statusBarColor</key>
	<string>222325</string>
	<key>web_fontSizeChangeViewBgColor</key>
	<string>21252B</string>
	<key>web_fontSizeChangeViewBorderColor</key>
	<string>242E35</string>
	<key>web_fontSizeChangeViewTextColor</key>
	<string>0079FF</string>
</dict>
</plist>
